* {
  box-sizing: border-box;
}

body {
  background: #282828;
  margin: 0;
}

canvas {
  float: left;
  image-rendering: pixelated;

  &.mainView {
    width: calc(640px * 1.2);
    height: calc(480px * 1.2);
  }

  &.previewDynamic {
    position: relative;
  }

  &.previewStatic {
    position: absolute;
    left: 0;
  }
}

.tileSelector {
  border: 1px solid red;
  float: left;
  margin: 10px;

  div {
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid green;
  }
}
